* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fffaf2;
  color: #373737;
}

main {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1.4fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: ". header ." ". cta .";
  height: 100vh;
  padding: 1.8rem;
  overflow: hidden;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  padding: 1rem;
  align-self: center;
  transition: transform 320ms;
  text-align: center;
  transition: transform 320ms;
}
.header--out {
  transform: translateY(-12vh);
}
.header--out p {
  opacity: 0;
}

h1.main {
  font-size: 3rem;
}

.caption {
  font-size: 1.2rem;
  transition: opacity 320ms;
}

.cta {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cta;
  place-self: start end;
  transition: transform 320ms;
  text-align: center;
}
.cta--out {
  transform: translateX(60vmax);
}

.paper {
  position: absolute;
  width: 80vmin;
  height: 82vh;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.16);
  left: 50%;
  top: 50%;
  transform: translate(-60%, 48%) rotate(calc(var(--f) * 24deg));
  cursor: pointer;
  transition: transform 320ms;
}
.paper:nth-child(3) {
  background: #FFE0B5;
}
.paper:nth-child(2) {
  background: #E8EDDF;
}
.paper:nth-child(1) {
  background: #FFECBB;
}
.paper--selected {
  transform: translate(-50%, -40%);
}
.paper--hovered {
  transform: translate(-60%, 45%) rotate(calc(var(--f) * 22deg));
}
.paper--out {
  transform: translateY(80%);
}

.muted {
  opacity: 0.4;
}